---
title: "Welcom to the new confirmed user"
preheader: "Welcome to Diskuz app"
bodyClass: bg-slate-50
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full ">
          <div class="my-12 sm:my-8 text-center">
            <a href="https://DisKuz.com">
              <img src="images/DisKuz.png" width="120" alt="DisKuz">
            </a>
          </div>

          <table class="w-full">
            <tr>
              <td class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm">
                <h1 class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold">
                  Dear @{{name}},
                </h1>

                <div class="m-0 leading-6 space-y-3">
                  <p>We’re thrilled to have you join the <span class="font-bold text-fuchsia-500">DisKuz</span> family! Your decision to engage with us is truly appreciated, and we want to extend a warm welcome to you.
                    At <span class="font-bold text-fuchsia-500">DisKuz</span>, our mission is tp provide an easy and web base chat. We’re dedicated to satisfy the user. You’ve taken the first step towards a rewarding journey with us. </p>
                  <p>
                    Here’s what you can expect: </p>
                    <ul>
                        <li>Regular updates on our latest products and services</li>
                        <li>Exclusive insights, tips, and promotions just for you.</li>
                        <li>A community of like-minded individuals who share your interests.</li>
                    </ul>

                    <p>Feel free to explore our website to get a glimpse of what’s in store. If you have any questions or need assistance, please don’t hesitate to reach out to our friendly customer support team at <a href="mailto:wibrc.se.jc@gmail.com">Email</a>. </p>
                </div>

                <x-spacer height="6px" />

                <p class="leading-6">Thank you for choosing <span class="font-bold text-fuchsia-500">DisKuz</span>. We can’t wait to embark on this exciting journey with you.</p>

                <x-divider space-y="32px" class="bg-slate-200" />

                <p class="m-0">
                    Warm regards,
                  <br>
                  <span>IT-WIBRC</span>
                  <br>
                  <span>Software developer</span>
                  <br>
                  <span>DisKuz</span>
                  <br>
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
